%package%

%imports%

/**
 * NoIdMapper for %tableName%
 *
 * @author %author%
 */
public interface %mapperName% extends NoIdMapper<%entityName%> {

    /**
     * 获取实体类型
     *
     * @return 实体类型
     */
    @Override
    default Class<%entityName%> getPoClazz() {
        return %entityName%.class;
    }

    /**
     * 获取默认的表对象
     *
     * @return 表对象
     */
    @Override
    default Table getDefaultTable() {
        return %propertyName%.TABLE;
    }
}